<header class="header">
    <div class="row">
        <div class="header-title" id="header-title">
            <h3>
                <a href="{{ url }}/">{{ title }}</a>
                <div class="header-subtitle header-description">
                    <span class="custom-tab"></span>
                    |
                    <span class="custom-tab"></span>
                    {{ description_kor }}
                </div>
            </h3>
        </div>
        <div class="header-title" id="header-title-nav">
            {% include "partials/nav.html" %}
        </div>
    </div>
</header>
