<div id="modal-{% if context  %}{{ context }}{% else %}component{% endif %}"
     class="modal fade modal-component"
     role="dialog"
     data-backdrop="static"
     data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title"></h2>
            </div>
            <div class="modal-body">
                <!-- <div class="row">
                    <div class="form-group col-lg-3 col-md-3 col-sm-3">
                        <h4><label for="input-toggle-spec-question-valid">Valid</label>
                        </h4>
                        <input id="input-toggle-spec-question-valid"
                               type="checkbox" checked
                               data-toggle="toggle">
                    </div>
                </div>
                <form class="modal-form">
                    <div class="row">
                        <div class="col-lg-12">my form</div>
                    </div>
                </form> -->
            </div>
            <div class="modal-footer" style="align-content: center">
                <button type="button"
                        class="btn btn-lg"
                        data-dismiss="modal"
                        id="modal-footer-btn-confirm">
                    {{ _('Apply Changes') }}
                </button>
                <button type="button"
                        class="btn btn-lg"
                        data-dismiss="modal"
                        id="modal-footer-btn-cancel">
                    {{ _('Cancel') }}
                </button>
            </div>
        </div>
    </div>
</div>
