<div id="modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title"></h2>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer" style="align-content: center">
                <button type="button"
                        class="btn btn-lg"
                        data-dismiss="modal"
                        id="modal-footer-btn-confirm">
                    {{ _('Apply Changes') }}
                </button>
                <button type="button"
                        class="btn btn-lg"
                        data-dismiss="modal"
                        id="modal-footer-btn-cancel">
                    {{ _('Cancel') }}
                </button>
            </div>
        </div>
    </div>
</div>
