<div class="header-subtitle header-nav">
    <span class="header-nav-item" id="login-action" style="cursor: pointer;">로그인</span>
    </span>
    <span class="header-nav-item">계정관리</span>
    <span class="header-nav-item">구독하기</span>
    <span class="header-nav-item">내 구독목록</span>
</div>

<script>
    $(document).ready(function () {
        $('#login-action').on('click', function () {
            $.ajax({
                type: 'get',
                url: '/users/login',
                success: function (response) {
                    $('#home-body').html(response);
                },
                error: function (jqXHR) {
                    console.log(jqXHR);
                },
            })
        });
    });
</script>
