/*
 * Common style for mobile
 * made by Daesung Ra (daesungra@gmail.com)
 */

.header-description {
	display: none;
}

#home-body-upper {
	height: 824px;
}

.home-body-box {
	width: 100%;
}

#home-description {
	display: inline-block;
	text-align: center;
}

#home-sample {
	display: inline-block;
	margin-top: 80px;
}

#home-additional {
	height: 800px;
}
