/*
 * Default style
 * made by Daesung Ra (daesungra@gmail.com)
 */

html, body {
    font-size: 14px;
}

.newsmine-body {
	position: relative;
}

/*
 * Header style
 */

.header {
	position: sticky;
    top: 0;
	padding: 18px 18px 20px 18px;
	background-color: #1F2F2F;
	border-bottom: 1px solid #4c535b;
    z-index: 99;
}

.header-subtitle, .header-subtitle a {
	display: inline-block;
	font-family: 'NanumSquare', sans-serif;
    /* color: #FFF8DC; */
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

#header-title {
	width: 58.333333%;
	float: left;
	padding-left: 20px;
}

#header-title a {
    font-size: 24px;
    font-weight: 900;
    text-decoration: none;
    color: #DEB887;
}

#header-title-nav {
	width: 41.666667%;
	float: right;
	padding-right: 20px;
}

.header-nav {
	width: 100%;
	text-align: right;
	font-size: 14px;
	padding-top: 11px;
}

.header-nav-item {
	margin-left: 10px;
	cursor: pointer;
}

.header-nav-item:hover, .header-nav-item a:hover {
	color: #FFF8EC;
}

#header-nav-logged-in {
	/* display: none; */
}

/*
 * Home style
 */

.newsmine-content {
	/* height: 88%; */
}

.home-content {
	/* width: 100%;
	height: 100%; */
	margin: 0px;
	/* background-color: #1F2F2F; */
	background-color: #fff;
}

.home-body {
	width: 100%;
	text-align: center;
	z-index: 1;
}

#home-body-upper {
	color: #fff;
	background-size: 100%;
	background-color: #1F2F2F;
}

#home-body-lower {
	min-height: 480px;
}

.home-body-box {
	position: relative;
	display: inline-block;
	margin-top: 90px;
}

#home-description {
	font-size: 32px;
	/* font-weight: 900; */
}

#home-sample {
	width: 280px;
	height: 420px;
	border: 1px solid #fff;
}

#home-additional {
	color: #fff;
	text-align: center;
	font-size: 24px;
	font-weight: 900;
}

/*
 * Footer style
 */

.footer {
    width: 100%;
	color: #999;
    text-align: center;
    padding: 36px 0 36px 0;
    background-color: #2F3F3F;
}

.footer-hr {
    margin: 23px 0 23px 0;
}

.footer a {
	color: #ddd;
}

.footer-contents {
	height: 90px;
}

/*
 * Custom style
 */

.custom-tab {
    padding-left: 6px;
}

.alert {  /* messages alert style */
	font-size: 14px;
	font-weight: 600;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 0 !important;
}
