/*
 * Home style
 */

.home-body {
	position: relative;
	color: #fff;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/static/images/home/city_home.jpg');
	background-size: cover;
	min-height: 1048px;
	z-index: 1;
}
.home-body::after {
	content: '';
	position: absolute;
    top: 0;
    left: 0;
	opacity: 0.5 !important;
	filter: alpha(opacity=50);
	z-index: -1;
}

/*
 * Footer style
 */

.footer {
	color: #999;
    text-align: center;
    margin: 0 0 3rem 0;
}

.footer-hr {
    margin-bottom: 23px;
}

/*
 * Custom style
 */

.custom-tab {
    padding-left: 6px;
}
