# This file stores a series of secret values.
# MAINTAINER: Ra Daesung (daesungra@gmail.com)


VERSION: 0.0.2

VAL:
  django.secret-key:  # django secret key
  default.url:  # project base url
  default.title:  # title
  default.description_kor:  # project description in kor
  default.description_eng:  # project description in eng

SETTING:
  debug:  # boolean value for debug mode
