{% extends "layout.html" %}

{% block page_title %}
    Home
{% endblock page_title %}

{% block content %}
    <div class="row home-content">
        <div class="col-md-12 home-body" id="home-body-upper">
            <div class="home-body-box">
                <div class="home-body-elem" id="home-description">
                    원하는 주제의 뉴스를<br>주기적으로 받아보세요!
                </div>
                <br>
                <div class="home-body-elem" id="home-sample"></div>
            </div>
        </div>
        <div class="col-md-12 home-body" id="home-body-lower">
            <div class="home-body-box">
                <div class="home-body-elem" id="home-additional">
                    ~~ Additional Contents ~~
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
