{% extends "layout.html" %}

{% block page_title %}
    Home
{% endblock page_title %}

{% block content %}
    <div class="row home-content">
        <div class="col-md-12 home-body" id="home-body-upper">
            <div class="home-body-box">
                <div class="home-body-elem" id="home-description">
                    News Subscription Service<br>Using Keywords<br>
                    <button class="btn btn-md btn-success"
                            style="border-radius: 8px;">
                        Experience Newsmine
                    </button>
                </div>
                <br>
                <div class="home-body-elem" id="home-sample"></div>
            </div>
        </div>
        <div class="col-md-12 home-body" id="home-body-lower">
            <div class="home-body-box">
                <div class="home-body-elem" id="home-additional">
                    ~~ Additional Contents ~~
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
